include /core/helpers/assets

doctype html
html(lang=info.projectHtmlLang)
	include /core/helpers/meta

	// build:css style/app.min.css
	block styles
		each link in path.css
			+assets('css', link)
	// endbuild

	body
		block content
			//- Content Inclusion

		block scripts
			// build:js js/app.min.js
			each link in path.js
				+assets('js', link)
			// endbuild